<h3>Notions:</h3>
<ul>
<li><a href="https://bitbucket.org/imt-mobisyst/lecture-d2u/raw/master/10-intro-d2u/intro-mad.pdf">Introduction</a></li>
<li><a href="https://bitbucket.org/imt-mobisyst/lecture-d2u/raw/master/20-reinforcement/reinforcement.pdf">Reinforcement Learning</a></li>
<li><a href="https://bitbucket.org/imt-mobisyst/lecture-d2u/raw/master/20-reinforcement/rl-on-421.pdf">About Model Based Learning</a></li>
<li><a href="https://bitbucket.org/imt-mobisyst/lecture-d2u/raw/master/30-the-curse/mad31-the-curse.pdf">The Curse of Dimensionality</a></li>
</ul>
<h3>Tutorials:</h3>
<p>Tutorials are based on <a href="https://bitbucket.org/imt-mobisyst/hackagames/src/master/">HackaGames</a> solution. Tutorials are proposed on the <a href="https://bitbucket.org/imt-mobisyst/hackagames/src/master/doc/toc.md">HackaGames documentation</a>.</p>
<ul>
<li>Process a <emph>Level One</emph> installation, then <emph>Get Started</emph>.</li>
<li>Follow the tutorials relative to <emph>Py421</emph> games.</li>
<li>Follow the <emph>Initiation to AI</emph> tutorials.</li>
</ul>
<h3>Resource:</h3>
<ul>
<li><a target="blank" href="https://bbb1.imt-nord-europe.fr/b/gui-gvb-vms-oun">Virtual Session</a></li>
</ul>