<h3>1. Notions:</h3>
<ul>
<li><a href="https://bitbucket.org/imt-mobisyst/lecture-d2u/raw/master/pdf/11-intro-general.pdf">Introduction</a></li>
<li><a href="https://bitbucket.org/imt-mobisyst/lecture-d2u/raw/master/pdf/12-notion-policy.pdf">Notion of policy</a></li>
<li><a href="https://bitbucket.org/imt-mobisyst/lecture-d2u/raw/master/pdf/21-reinforcement.pdf">Reinforcement Learning</a></li>
<li><a href="https://bitbucket.org/imt-mobisyst/lecture-d2u/raw/master/pdf/23-model-learning.pdf">About Model Based Learning</a></li>
<!-- li><a href="https://bitbucket.org/imt-mobisyst/lecture-d2u/raw/master/30-the-curse/mad31-the-curse.pdf">The Curse of Dimensionality</a></li -->
</ul>
<p></p>
<h3>2. Tutorials:</h3>
<p>Tutorials are based on <a href="https://bitbucket.org/imt-mobisyst/hackagames/src/master/">HackaGames</a> solution. Tutorials are proposed on the <a href="https://bitbucket.org/imt-mobisyst/hackagames/src/master/doc/toc.md">HackaGames documentation</a>.</p>
<h4>Get started with HackaGames</h4>
<ul>
<li>Process a <emph>Hello World</emph>: <emph>install</emph>, then <emph>First Bot</emph>.</li>
</ul>
<p></p>
<h4>Learn a policy</h4>
<ul>
<li><emph>Policy</emph> permits to get started with policy notion.</li>
<li><emph>Q Learning</emph> focus on a first reinforcement learning algo.</li>
</ul>
<p></p>
<h4>Scale Up</h4>
<p>...</p>
<p></p>
<h3>3. Corrections:</h3>
<ul>
<li><a href="https://bitbucket.org/imt-mobisyst/lecture-d2u/raw/master/tutos/tuto_policy.zip">Tuto Policy</a></li>
<li><a href="https://bitbucket.org/imt-mobisyst/lecture-d2u/raw/master/tutos/tuto_qlearning.zip">Tuto Q-Learning</a></li>
</ul>
