/* @theme imt */

@import 'default';

:root {
    --color-white: white;/*rgb(250,250,250);*/
    --color-main: rgb(0,184,222);
    --color-dark: rgb(12,35,64);
    --color-contrast: rgb(242,169,0);
    --color-grey: rgb(220,220,220);
    --color-black: rgb(0,0,0);
}

body {
    background-image:url(./bg-tittle2.svg);
    background-repeat:no-repeat;
    margin: 0px;
    font-size: 11pt;
}

h1 {
    color: var(--color-dark);
}

h2 { /* frame title */
    position: fixed;
    top: 6mm;
    left: 10mm;
    width: 310mm;
    margin: 0px 0px 40px 0px;
    padding: 20px 20px;
    font-size: 28pt;
    background-color: var(--color-grey);
    color: var(--color-dark);
}

h3 { /* in frame titles */

}

h4 { /* Centered emphased remark */
    color: var(--color-main);
    text-align: center;
}

ul{
    list-style: none;
}

ul li::before {
    content: "\25B6";
    color: var(--color-contrast);
    display: inline-block;
    width: 26pt;
    margin-left: -26px;
}

ul ul li::before, ol ul li::before {
    content: "\25AC";
    color: var(--color-grey);
    display: inline-block;
    width: 26pt;
    margin-left: -30px;
  }


  strong{
    color: var(--color-dark);
  }
  
  em{
      color: var(--color-main);
  }
  